<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
    <div style="text-align:center">
        <div class="board-container">
            <table>
                <tr>
                    <th class="no">번호</th>
                    <th class="title">제목</th>
                    <th class="writer">이름</th>
                    <th class="regdate">등록일</th>
                    <th class="viewcnt">조회수</th>
                </tr>
                <tr th:each="board : ${list}">
                    <td th:text="${board.id}" th:class="no">1</td>
                    <td><a th:href="@{/board/view(id=${board.id})}" th:text="${board.title}">Today I'm gonna finish</a></td>
                    <td th:text="${board.member.userId}">aaa</td>
                    <td th:text="${#dates.format(board.updateAt,'yyyy-MM-dd')}">2020-01-30</td>
                    <td th:text="${board.viewCnt}" th:class="viewcnt">999</td>
                </tr>
                </c:forEach>
            </table>
            <br>
            <button id="writeBtn" class="btn-write" onclick="location.href='/board/write'"><i class="fa fa-pencil"></i> 글쓰기</button>
        </div>
    </div>
</th:block>>
</html>